@tailwind base;
@tailwind components;
@tailwind utilities;

.stem {
  background: linear-gradient(180deg, rgba(147,175,69,1) 0%, rgba(96,109,41,1) 100%);
}

/* SVG Colors */

.primary-fill {
  fill: var(--primary-fill)
}

.secondary-fill {
  fill: var(--secondary-fill)
}

.tertiary-fill {
  fill: var(--tertiary-fill)
}

.leaf-fill {
  fill: var(--leaf-fill)
}

.stem-fill {
  fill: var(--stem-fill)
}